 /**/
  /*Inicio do site, fundo padrão*/
body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Define a primeira section, onde fica o nome*/
#inicio{
    width: 90%;
    height: 110%;
    display: table;
    width: 90%;
    height: 100%; line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
}
 /*Animação*/
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-between; /* Distribute lines evenly */
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  /*background: #ffffff;  /* Line color */
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s ;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

/* tempo para cada traço */
.line:nth-child(1)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.5s;
}

.line:nth-child(2)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #32CD32 75%, #32CD32 100%);
  animation-delay: 1s;
}

.line:nth-child(3)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1E90FF 75%, #1E90FF 100%);
  animation-delay: 1.5s;
}

.line:nth-child(4)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFD700 75%, #FFD700 100%);
  animation-delay: 2s;
}

.line:nth-child(5)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #8A2BE2 75%, #8A2BE2 100%);
  animation-delay: 2.5s;
}

.line:nth-child(6)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #20B2AA 75%, #20B2AA 100%);
  animation-delay: 3s;
}

.line:nth-child(7)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #DC143C 75%, #DC143C 100%);
  animation-delay: 3.5s;
}

.line:nth-child(8)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00FA9A 75%, #00FA9A 100%);
  animation-delay: 4s;
}

.line:nth-child(9)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF1493 75%, #FF1493 100%);
  animation-delay: 4.5s;
}

.line:nth-child(10)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00BFFF 75%, #00BFFF 100%);
  animation-delay: 5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}


 /* Define a zona em qur ficará o texto : nome*/
#retangulo{
    padding-top:20%;
    padding-left: 5%;
    display: flexbox;
    justify-content: center;
}

 

 /*Define onde ficam as informaçoes*/
#informacoes{
    background-color: white;
    color: rgb(21, 21, 21);
    display: flexbox;
    height: 40%;
    width: 100%;
    justify-content: center;
    display: flex;
}



/*Tentativa de dois fundos,*/
.preta{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 95%;
    
}

.flex{
    display: flexbox;
    justify-content: center;
}

 /*Animando o site pra digitar*/
.digitar {
  overflow: hidden;  /*Esconde o texto que excede a largura */
  white-space: nowrap;  /*Mantém o texto em uma única linha */
  border-right: .15em solid white; /* Efeito de cursor piscando */
  width: 0; /* Começa com 0 de largura */
  animation: 
   escrever 3.5s steps(25, end) forwards, /* Animação de digitação */
   cursor.7s infinite; /* Animação de cursor piscando */
}

@keyframes escrever {
  from { width: 0 }
  to { width: 40% }
}

@keyframes cursor {
  from { border-color: rgb(255, 255, 255) }
  to { border-color: transparent }
}


